[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.userosscache
*.sln.docstates
*.userprefs

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


*.dll
*.pdb
*.exe
*.cache
*.log


.DS_Store
Thumbs.db


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
